@media(max-width: 480px){
	
	.wrapper{
		max-width: 320px;
	}

	.menu-lg{
		display: none;
	}

	.logo{
		display: block;
		margin: 0 auto;
	}

	.header{
		box-sizing: border-box;
		position: relative;
		height: 517px;
		padding-top: 69px;
		background-size: cover;
	}

	.first-screen{
		/*position: relative;*/
		margin-top: 123px;
		/*z-index: 20;*/
	}

	.head-article{
		width: 70%;
		margin: 0 auto;
	} 

	/*.head-article__header{
		color: #fff;
		font-size: 36px;
		margin-bottom: 2px;
	}*/

	.head-article__subheader{
		/*overflow: hidden;*/
		width: 90%;
		height: 20px;
		font-size: 18px;
	}
	
	 .head-article__p{
		display: none;
	}

	.article__purple-block.repair{
		margin-bottom: 25px;
	}

	.article__purple-block.music{
		margin-bottom: 40px;
		background-position: -6px 6px;
	}

	.article__header{
		font-size: 24px;
	}

	.article__p{
		line-height: 24px;
		font-family: "Open Sans Light", sans-serif;
	}

	.article__purple-block .article__p{
		overflow: hidden;
		height: 77px;
		/*margin-top: 3px;*/
	}
 
  .article__purple-block .readmore{
		margin-top: 10px;
		margin-right: 6px;
	}

	.white-block{
		padding-top: 65px;
		padding-bottom: 88px;
	}

	.carousel-blockqoute{
		padding: 0px 0px 89px 0px;
	}

	.comment{
		width: 257px;
		margin-left: 24px;
		float: left;
		padding: 30px 10% 30px 13%;
	}

	.comment img{
		top: 20px;
		left: -10%;
	}

	.comment .article__p{
		overflow: hidden;
		height: 165px;
		margin-top: 5px;
		margin-left: 1px;
	}

	
	.aside{
		width: 100%;
	}

	.aside__subheader{
		width: 200px;
		height: 18px;
	}

	.partner-block{
		padding: 54px 0px 13px;

		/*-webkit-box-shadow: 0px 3px 5px #616066;
						box-shadow: 0px 3px 5px #616066;*/
		z-index: 10;
	}

	.partner__list{
		width: 90%;
		padding: 0;
	}

	.partner__list li{
		width: 45%;
		margin-bottom: 52px;
		margin-left: 6px;
	}

	.news{
		display: none;
	}

	.menu-footer{
		display: none;
	}

	.footer{
		height: 159px;
		padding-top: 42px;
	}
	
}

@media(min-width: 480px) and (max-width: 767px){
	
	.wrapper{
		max-width: 480px;
	}

	.header{
		height: 548px;
		/*have to add pt*/
		padding-top: 69px;
	}

	.logo{
		display: block;
		margin: 0 auto;
	}


	/*ie suppert only signle-colon. have to check*/

	.header:after{
		content: '';
		display: block;
		position: absolute;
		top: 202px;
		width: 100%;
		height: 246px;
		background: rgba(0, 0, 0, 0.2);
	}

	.first-screen{
		margin-top: 20px;
		margin-left: 0;

		/*z-index: 40;*/
	}

	.header__img{
		display: block;
		width: 193px;
		height: 303px;
		margin-right: 11px;
		float: right;
		background: url('../img/iphone-sm.png') center center no-repeat;
		background-size: 100% 100%;
	}

	.head-article{
		position: absolute;
		top: 102px;
		
		margin-left: 21px;
		float: left;
	}

	.head-article__p{
		display: none;
	}

	/*------------------MENU-------------------*/

 	.dropdown-menu{
		margin-bottom: 0;
	}

	.menu-lg{
		display: none;
	}

	.menu-sm{
		top: 64px;
	}

	.purple-block{
		padding-top: 77px;
		padding-bottom: 71px;
	}
	.article__purple-block.speak{
		background-position: -6px 6px;
	}

	.article__purple-block.music{
		margin-bottom: 29px;
		background-position: -6px 6px;
	}

	.article__purple-block .article__p{
		height: 77px;
	}

	.white-block{
		padding-top: 69px;
		padding-bottom: 89px;
	}

	.comment{
		width: 94%;
		margin-left: 24px;
		padding: 6.5% 8.5% 7.5%;
	}

	.comment img{
		top: 5.5%;
		left: -6.6%;
	}

	.comment h3{
		font-size: 30px;
	}

	.comment span{
		display: inline;
	}

	.comment .article__p{
		margin-top: 14px;
	}

	.dots-light{
		left: 53%;
		bottom: 11%;
	}

	.aside{
		width: 100%;
		margin-top: 2px;
		margin-left: 62px;
	}

	.aside__list{
		margin-top: 16px;
	}

	.aside__first{
		margin-bottom: 17px;
	}

	.aside__second{
		margin-bottom: -4px;
	}

	.aside__subheader{
		width: 300px;
	}

	.aside p{
		width: 265px;
	}

	.aside .readmore{
		margin-right: 102px;
	}

	.partner-block{
		padding-top: 37px;
		padding-bottom: 16px;
	}

	.partner__list li{
		width: 30%;
		margin-bottom: 23px;
		margin-left: 10px;
	}

	.news{
		display: block;
		padding-top: 79px;
		padding-bottom: 80px;
		margin-left: -3px;
	}

	.news__item{
		;
	}

	.news__item h3{
		font-size: 24px;
	}

	.news__item p{
		overflow: hidden;
		height: 102px;
		margin-top: 9px;
	}

	.story{
		margin-bottom: 34px;
	}

	.category{
		margin-bottom: 53px;
	}

	.footer{
		height: 159px;
		padding-top: 42px;
	}

	.menu-footer{
		display: block;
		text-align: justify;
	}

	.menu-footer .menu__link{
		font-size: 20px;
	}

	.menu-footer .menu__item{
		display: inline-block;
		text-align: left;
	}

	.menu-footer:after{
		content: '';
		display: inline-block;
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
	}

	.copy{
		margin-top: 17px;
	}

} 

@media (min-width: 768px) and (max-width: 960px){
	.wrapper{
		max-width: 768px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.header{
		height: 798px;
		padding-top: 69px;
	}

	.logo{
		float: left;
		margin-bottom: 28px;
	}
/*------------------------------------MENU----------------------------------*/
	.dropdown-menu{
		display: block;
		clear: left;
	}

	.button-menu__home.menu__link{
		display: none;
	}
	.menu-sm{
		border: none;
		top: 64px;
		background: 0;
	}
	.menu-sm .menu__item{
		display: inline-block;
		margin-right: 44px;
		margin-top: 1px;
		border-top: 0;
    	border-bottom: 0;
	}
	.menu-sm .menu__item:last-child{
		margin-right: 0px;
	}
	.dropdown-menu li ul.menu.menu-sm{
		display: inline-block;
    	width: 100%;
    	margin-left: -50px;
	}
	.menu__link:hover {
    	border-bottom: 2px solid #edbfff;
	}

	.menu-sm .menu__link:hover {
    	background: 0;
	}

	.first-screen{
		margin-top: 82px;
		margin-left: 24px;
	}

	.head-article{
		width: 281px;
		margin-top: 121px;
		float: left;
	
	} 

 	.head-article__header{
		margin-bottom: 9px;
		font-size: 48px;
		letter-spacing: -0.3px;
	}
	
	.head-article__subheader{
		width: 100%;
		font-size: 24px;

	}

	.head-article__p{
		display: block;
		/*overflow: hidden;*/
		height: 110px;
		margin-top: 11px;
		/*color: #fff;*/
		/*line-height: 26px;*/
		/*font-family: "Open Sans Light", sans-serif;*/
		/*font-size: 18px;*/

	
	}

	.header__img{
		display: block;
		width: 270px;
		height: 435px;
		margin-right: 27px;
		float: right;
		background: url('../img/iphone-sm.png') center center no-repeat;
		background-size: 100% 100%;
	}

	.dots{
		bottom: 12%;
		left: 74%;
		-ms-transform: translate(-75%, -11%);
				transform: translate(-75%, -11%);
	} 

	/*ie suppert only signle-colon. have to check*/

 	.header:after{
		content: '';
		display: block;
		position: absolute;
		top:244px;
		width: 100%;
		height: 400px;
		background: rgba(0, 0, 0, 0.2);

	}

	.arrow__item{
		top: 356px;
	}

	.purple-block{
		padding-top: 76px;
		padding-bottom: 29px;
	}

	.article__purple-block{
		width: 30%;
	}

	.article__purple-block .article__p{
		overflow: hidden;
		height: 142px;
		margin-top: 3px;
	}

	.article__purple-block.repair:before{
		margin-right: 26px;
		background-position: -7px 2px;
	}

	.article__purple-block.music:before{
		margin-left: 14px;
		background-position: -6px 6px;
	}
	.article__purple-block.speak:before{
		background-position: -12px 2px;
	}
	.article__purple-block.speak .readmore{
		margin-right: 11px;
		background-position: -6px 6px;
	}

	.white-block{
		padding-top: 97px;
		padding-bottom: 24px;
	}

	.carousel-blockqoute{
		width: 43%;
		float: left;
		/*padding-bottom: 89px;*/

		bottom: 1px solid black;
	}

	.comment{
		width: 100%;
		padding: 31px 10px 47px 12%;
	}

	.comment__p{
		height: 140px;
		margin-top: 10px;
	}

	.dots-light{
		bottom: 10%;
		left: 44%;

		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.aside{
		width: 46%;
		margin-top: 32px;
		float: right;
	}

	.partner-block{
		padding-top: 26px;
		padding-bottom: 25px;

		box-shadow: none;
	}

	.partner__list{
		width: 100%;
	}

	.partner__list li{
		width: 10%;
		margin-right: 40px;
		margin-bottom: 0;
	}

	.partner__list li:last-child{
		margin-right: 0;
		float: right;
	}

	.news{
		display: block;
		padding-top: 100px;
		padding-bottom: 50px;
	}

	.news__item{
		width: 30%;
	}

	.news__item h3{
		font-size: 24px;
	}

	.news__item p{
		overflow: hidden;
		height: 162px;
		margin-top: 9px;
	}

	.story p{
		height: 152px;
	}

	.story{
		margin-bottom: 34px;
	}

	.category{
		margin-bottom: 53px;
	}

	.footer{
		height: 159px;
		padding-top: 42px;
	}

	.menu-footer{
		display: block;
	}

	.menu-footer .menu__link{
		font-size: 20px;
		margin-right: 40px;
	}

	.copy{
		margin-top: 31px;
		margin-right: 0px;
		float: right;
	}

} 

@media(min-width: 960px){
	
	.wrapper{
		max-width: 960px;
		padding: 0;
	}

	.header{
		height: 846px;
		padding-top: 68px;
	}

	.logo{
		float: left;
	}

.dropdown-menu{
		display: block;
		clear: left;
	}

	.button-menu__home.menu__link{
		display: none;
	}
	.menu-sm{
		border: none;
		top: -4px;
    	left: 67%;
		background: 0;
	}
	.menu-sm .menu__item{
		display: inline-block;
		margin-right: 44px;
		margin-top: 1px;
		border-top: 0;
    	border-bottom: 0;
	}
	.menu-sm .menu__item:last-child{
		margin-right: 0px;
	}
	.dropdown-menu li ul.menu.menu-sm{
		display: inline-block;
    	width: 100%;
    	margin-left: -50px;
	}
	.menu__link:hover {
    	border-bottom: 2px solid #edbfff;
	}

	.menu-sm .menu__link:hover {
    	background: 0;
	}

	.first-screen{
		margin-top: 150px;
		margin-left: 0;
		/*z-index: 40;*/
	}

	.head-article{
		width: 50%;
		margin-top: 96px;
		float: left;
	}

	.head-article__header{
		margin-bottom: 1px;
		font-size: 60px;
		letter-spacing: -0.5px;
	}

	.head-article__subheader{
		width: 100%;
		height: 30px;	
		font-size: 30px;
		letter-spacing: 0.6px;
	}

	.head-article__p{
		display: block;
		width: 100%;
		height: 200px;
		margin-top: 7px;
		line-height: 24px;
		color: #fff;
		letter-spacing: 0.9px;
		font-family: "Open Sans Light", sans-serif;
	}

	.header__img{
		display: block;
		width: 279px;
		height: 390px;
		margin-right: 67px;
		float: right;
		background: url('../img/iphone.png') center center no-repeat;
		background-size: 100% 100%;
	}

	.dots{
		bottom: 7%;
		left: 65%;

		-ms-transform: translate(0%);
		transform: translate(0%);
	}
	
	.arrow__item{
		top: 60%;
	}

	.arrow-left{
		left: -5%;`
	}

	.arrow-right{
		right: -5%;
	}

	.header:after{
		content: '';
		display: block;
		position: absolute;
		top: 278px;
		width: 100%;
		height: 400px;
		background: rgba(0, 0, 0, 0.2);
	}

	.purple-block{
		padding-top: 76px;
		padding-bottom: 70px;
	}

	.article__purple-block{
		width: 33%;
	}

	.article__purple-block .article__header{
		font-size: 30px;
	}

	.article__purple-block .article__p{
		height: 120px;
		margin-top: 8px;
	}

	.article__purple-block.repair:before{
		margin-right: 30px;
		background-position: -6px 6px;
	}

	.article__purple-block.speak:before{
		margin-left: 26px;
		margin-right: 28px;
		background-position: -49px 5px;
	}

	.article__purple-block.music:before{
		margin-left: 38px;
		margin-right: 30px;
		background-position: -90px 5px;
	}

	.article__purple-block .readmore{
		margin-top: 20px;
	}

	.article__purple-block.repair .readmore{
		margin-right: 35px;
	}

	.article__purple-block.speak .readmore{
		margin-right: 15px;
	}

	.article__purple-block.music .readmore{
		margin-right: 0;
	}

	.white-block{
		padding-top: 92px;
		padding-bottom: 3px;
	}

	.carousel-blockqoute{
		width: 44%;
		float: left;

		/*padding-bottom: 89px;*/
	
	}

	.comment{
		width: 100%;
		height: 271px;
		padding: 29px 10px 43px 8.95%;
		margin-top: 8px;
		margin-left: 28px;
	}

	.triangle{
		width: 0;
		height: 0;
		border-top: 23px solid #fff; 
		border-left: 23px solid transparent;
		margin-left: 391px;
	}

	.comment img{
		top: 14px;
		left: -7%;
	}

	.comment h3{
		font-size: 30px;
	}

	.comment span{
		display: inline;
	}

	.comment__p{
		margin-top: 9px;
    	margin-left: -2px;
	}



	.dots-light{
		bottom: 14.5%;
        left: 46%;

		-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}

	.aside{
		width: 47%;
		margin-top: 35px;
		float: right;
	}

	.aside__subheader{
		width: 300px;
	}

	.aside__third{
		margin-top: 13px;
	}

	.aside .readmore{
		margin-top: 18px;
		margin-right: 19px;
	}

	.partner-block{
		padding-top: 26px;
		padding-bottom: 20px;
		box-shadow: none;
	}

	.partner__list{
		width: 81%;
	}

	.partner__list li{
		width: 10%;
		margin-right: 53px;
		margin-bottom: 6px;
	}

	.partner__list li:last-child{
		margin-right: 0;
		float: right;
	}

	.news{
		display: block;
		padding-top: 97px;
		padding-bottom: 47px;
	}

	.news__item{
		width: 29%;
	}

	.news__item h3{
		font-size: 30px;
	}

	.news__item p{
		overflow: hidden;
		height: 162px;
		margin-top: 9px;
	}

	.story p{
		height: 122px;
	}

	.story{
	}

	.story h3{
		font-size: 48px;
	}

	.story span{
		color: #b9b9b9;
	}

	.story h4{
		margin-top: 12px;
		color: #c5c5c5;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-style: italic;
		text-shadow: 1px 1px #fff;
	}

	.category{
		margin-bottom: 53px;
	}

	.footer{
		height: 74px;
		padding-top: 40px;
	}

	.menu-footer{
		display: block;
		width: 80%;
		float: left;
	}

	.menu-footer .menu__link{
		margin-right: 40px;
		font-size: 20px;
	}

	.copy {
		float: right;
		line-height: 40px;
	}
	
}