@font-face {
  font-family: 'League Gothic';
  src: url('../font/leaguegothic-regular-webfont.eot');
  src: url('../font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), 
  		url('../font/leaguegothic-regular-webfont.woff2') format('woff2'), 
  		url('../font/leaguegothic-regular-webfont.woff') format('woff'), 
  		url('../font/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('../font/opensans-light-webfont.eot');
  src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), 
  		url('../font/opensans-light-webfont.woff2') format('woff2'), 
  		url('../font/opensans-light-webfont.woff') format('woff'), 
  		url('../font/opensans-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-extrabold-webfont.eot');
  src: url('../font/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), 
  		url('../font/opensans-extrabold-webfont.woff2') format('woff2'), 
  		url('../font/opensans-extrabold-webfont.woff') format('woff'), 
  		url('../font/opensans-extrabold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
	color: #454545;
	background: #eee;
	font-family: "League Gothic", sans-serif;
}

.white-text{
	color: #ffffff;
}

.dark-text{
	color: #454545;
}

a{
	text-decoration: none;
}

.wrapper{
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 20px;
}

.header{
	box-sizing: border-box;
	position: relative;
	background: url('../img/bg.jpg') center center no-repeat;
	background-size: cover;
}

.first-screen{
	position: relative;
	z-index: 20;
}


.head-article__header{
	color: #fff;
	font-size: 36px;
	margin-bottom: 2px;
}

.head-article__subheader{
	overflow: hidden;
	color: #edbfff;
	font-size: 18px;
}

.head-article__p{
	display: none;
	overflow: hidden;
	color: #fff;
	line-height: 26px;
	font-family: "Open Sans Light", sans-serif;
	font-size: 18px;
}



.arrows{
	z-index: 40;
}

.arrow__item{
	position: absolute;
	top: 238px;
	display: block;
	height: 40px;
	width: 25px;
	z-index: 40
}

.arrow-right{
	right: 0%;
	background: url(../img/arrow-right.png) no-repeat;
}

.arrow-left{
	left: 0%;
	background: url(../img/arrow-left.png) no-repeat;
}


.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.purple-block{
	position: relative;
	padding: 69px 0 67px;
	border-top: 1px solid #33253a;
	background: -webkit-linear-gradient(#745083, #322539);
	background: -o-linear-gradient(#745083, #322539);
  	background: -moz-linear-gradient(#745083, #322539); 
 	background: linear-gradient(#745083, #322539); 
	
	 -webkit-box-shadow: 0px 3px 5px #d1d1d1;
	box-shadow: 0px 3px 5px #d1d1d1;
	z-index: 20;
} 

.article__header{
	font-size: 24px;
}

.article__p{
	overflow: hidden;
	line-height: 24px;
	font-family: "Open Sans Light", sans-serif;
}

.article__purple-block .article__p{
	overflow: hidden;
	margin-top: 3px;
}


.readmore{
	float: right;
	text-transform: uppercase;
	font-size: 18px;
}

.readmore:hover{
		text-shadow: 0px 0px 5px #fff;
}

/*icons for purple-block*/
 .article__purple-block.repair:before{
	content: '';
	display: block;
	width: 40px;
	height: 132px;
	margin-right: 14px;
	margin-left: 7px;
	float: left;
	background-image: url(../img/sprite-icons.png);
	background-position: -2px 6px;
	background-repeat: no-repeat;
}

.article__purple-block.speak:before{
	content: '';
	display: block;
	width: 30px;
	height: 132px;
	margin-right: 24px;
	margin-left: 7px;
	float: left;
	background-image: url(../img/sprite-icons.png);
	background-position: -12px 2px;
	background-repeat: no-repeat;
}

.article__purple-block.music:before{
	content: '';
	display: block;
	width: 30px;
	height: 132px;
	margin-right: 24px;
	margin-left: 7px;
	float: left;
	background-image: url(../img/sprite-icons.png);
	background-position: -7px 6px;
	background-repeat: no-repeat;
} 

 .align-left{
	float: left;
}

.align-right{
	float: right;
}

.align-center{
	margin: 0 auto;
}

.white-block{
	background: #f9f9f9;
}

.carousel-blockqoute{
	position: relative;
	padding-bottom: 89px;
}

.comment{
	position: relative;
	box-sizing: border-box;
	background: #fff;
}

.comment h3{
	text-transform: uppercase;
	color: #454545;
	font-size: 24px;
}

.comment span{
	display: block;
	color: #edbfff;
}

.comment img{
	position: absolute;
}

.aside{
	float: right;
}

.aside__header{
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: -0.1px;
}

.aside__list{
	margin-top: 18px;
	margin-left: 4px;
}

.aside__item{
	overflow: hidden;
	height: 52px;
	font-family: "Open Sans Light", sans-serif;
}

.aside__second{
	margin-top: 14px;
}

.aside__third{
	margin-top: 18px;
} 

.aside__item img{
	float: left;
	margin-right: 17px;
}

.aside__subheader{
	overflow: hidden;
	margin-top: 3px;
	font-family: "Open Sans Extrabold", sans-serif;
}

.aside p{
	overflow: hidden;
	height: 18px;
	margin-top: 7px;
	letter-spacing: -0.1px;
}

.aside .readmore{
	margin-top: 15px;
	margin-right: 6px;
}

.partner-block{
	position: relative;
	border-top: 1px solid #e6e6e6;
	background: #f9f9f9;

	/*-webkit-box-shadow: 0px 3px 5px #616066;
		box-shadow: 0px 3px 5px #616066;*/
	z-index: 10;
}

.partner__list{
	margin: 0 auto;
}

.partner__list li{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.news__item{
	width: 100%;
}

.copy{
	text-align: center;
	color: #fff;
	font-family: "Open Sans Light", sans-serif;
	font-size: 12px;
}
.copy span{
	font-family: "Open Sans Extrabold", sans-serif;
	letter-spacing: 0.1px;
}

.footer{
	background: url(../img/footer-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

/*MENU*/

/*MENU DROPDOWN*/

.menu__item{
	display: inline-block;
}

.menu__link{
	display: block;
	padding: 5px 1px 3px 1px;
	border-bottom: 2px solid transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}

.menu__link:last-child{
	padding-right: 0;
}

.menu__link:hover{
	border-bottom: 2px solid #edbfff;
}

.menu-sm{
	position: absolute;
	display: none;
	width: 245px;
	margin: 0 auto;
	border: 1px solid #051116;

	left: 50%;
	top: 20%;
	-ms-transform: translate(-50%);
	transform: translate(-50%);

	background: rgb(54, 41, 62);
	z-index: 30;
}

 .menu-sm .menu__item{
	display: block;
	border-top: 1px solid #624b6c;
	border-bottom: 1px solid #36283e;
	text-align: center;
}

.menu-sm .menu__link{
	display: block;
	padding: 9px 3px 6px;
}

.menu-sm .menu__link:hover{
	background: rgb(51, 51, 51);
} 

.dropdown-menu{
	display: block;
	margin: 30px auto;
	text-align: center;
}

.dropdown-menu li:hover ul.menu.menu-sm{
	display: block;
}

.button-menu__home.menu__link{
	display: inline-block;
	border-bottom: 2px solid #edbfff;
} 

/*DOTS*/

.dots{
	position: absolute;
	bottom: 10%;
	left: 50%;
	-ms-transform: translate(-50%, -5%);
	transform: translate(-50%, -5%);
	z-index: 20;
}

.dots__item{
	display: inline-block;
	padding: 0px 1px;
}

.dots__link{
	display: block;
	box-sizing: border-box;
	width: 17px;
	height: 17px;
	border-radius: 15px;
	background-image: url(../img/sprite-dots.png);
	background-position: 0px center;
	background-repeat: no-repeat;
}

.dots__link:hover{
	background-position: -23px center;
}

.dots-light .dots__link{
	background-image: url(../img/sprite-dots-light.png);
}

.dots-light{
	bottom: 12%;
	left: 60%;
	-ms-transform: translateX(-59%);
	transform: translateX(-59%);
}